In [38]:
ex = "accgtacgtcgatagggcagggggctag"

In [39]:
def suffixtable (t:str):
   """
   <<IN>> 
   >>> t = text
   <<OUT>>
   >>> List of Tuples (suffix, offset)
   """
   
   suffixtable = []
   for i in range(len(t)):
      suffix = t[i:]
      offset = i
      suffixtable.append((suffix,offset))
   return suffixtable

st = suffixtable (ex)
st.sort()

In [40]:
li =[]
for x in st:
    string = x[0]
    li.append(string)

In [41]:
ind = []
for x in st:
    ind.append(x[1])

In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame(li,index=ind)
df

                               0
0   accgtacgtcgatagggcagggggctag
5        acgtcgatagggcagggggctag
26                            ag
13               agggcagggggctag
18                    agggggctag
11             atagggcagggggctag
17                   cagggggctag
1    ccgtacgtcgatagggcagggggctag
9            cgatagggcagggggctag
2     cgtacgtcgatagggcagggggctag
6         cgtcgatagggcagggggctag
24                          ctag
27                             g
10            gatagggcagggggctag
16                  gcagggggctag
23                         gctag
15                 ggcagggggctag
22                        ggctag
14                gggcagggggctag
21                       gggctag
20                      ggggctag
19                     gggggctag
3      gtacgtcgatagggcagggggctag
7          gtcgatagggcagggggctag
4       tacgtcgatagggcagggggctag
25                           tag
12              tagggcagggggctag
8           tcgatagggcagggggctag